<div class="jumbotron mt-3">
  {% if search %}
    <h1 class="display-4">Search Results for {{search|title}}</h1>  
  {% else %}
    <h1 class="display-4">Welcome to PDF-Drive Clone</h1>
    <p class="lead">Search for your free PDFs in a more simplistic, elegant way.</p>
  {% endif %}
  
  <hr class="my-4">
  
  <form class="form-inline" method="get" action="{% url 'search' %}">
  	<div class="row">
  		<div class="col-md-8">
	  		<input type="text" class="form-control" placeholder="Search for PDF" name="search">
	  	</div>
	  	<div class="col-md-4">
	  		<button type="submit" class="btn btn-primary mb-2">Submit</button>
  		</div>
  	</div>
</form>
</div>