<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href='{% url 'home' %}'><i class="fas fa-book" ></i> PDF Library</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li 
      {% if '/' == request.path %}
        class="nav-item active"
      {%  else %}
        class="nav-item"
      {% endif %}
        >
        <a class="nav-link" href="{% url 'home' %}"><i class="fas fa-home" ></i> Home</a>
      </li>
      <li 
        {% if 'recent-search' in request.path %}
          class="nav-item active"
        {%  else %}
          class="nav-item"
        {% endif %}>
        <a class="nav-link" href="{% url 'recent-search' %}"> <i class="fas fa-search" ></i> Recent Searches</a>
      </li>
    </ul>
    <div class="inline my-2 my-lg-0">
      <h5><a class="btn btn-success text-ehite" href="https://github.com/EyimofeP" target="_blank"><i class="fab fa-github" ></i> Eyimofe Ayo Pinnick</a></h5>
    </div>
  </div>
</nav>