{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Icon -->
    <link rel="icon" href="data:image/x-icon;" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <title>PDF Library | {% block title %}  {% endblock %}</title>
  </head>
  <body>
    
    {% include 'partials/_navbar.html' %}


    <div class="container">
      {% block content %}

      {% endblock %}
    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    <script src="{% static 'js/all.min.js' %}"></script>
  </body>
</html>